<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/dist/css/style.css' />
    </head>
    <body>

        <nav>
            <img src="/dist/images/logo.png" alt="Look live">
            <ul>
                <li><i class="menu-sprite home"></i><a href="/">Home</a></li>
                <li><i class="menu-sprite latest"></i><a href="/discover/">Latest</a></li>
                <li><i class="menu-sprite people"></i><a href="/people/">People</a></li>
                <li><i class="menu-sprite shows"></i><a href="/shows/">Shows</a></li>
                <li><i class="menu-sprite music"></i><a href="/music/">Music</a></li>
                <li><i class="menu-sprite brands"></i><a href="/brands/">Brands</a></li>
            </ul>  
        </nav>
        
        <header>
            <img src="/dist/images/header-small.jpg" srcset="/dist/images/header-small.jpg 480w, /dist/images/header-medium.jpg 960w, /dist/images/header-large.jpg 1920w" alt="House of Cards">
        </header>
        
        <main>
            {{{body}}}
        </main>
        
    </body>
    
    <script src="/dist/js/app.js"></script>
</html>
