<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/styles/style.css' />
<<<<<<< HEAD
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet'>
    </head>
    <body>
=======
        <link rel='stylesheet' href='/icons/sprite/sprite.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900,600,300,200,100' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="nav">
            <div class="nav-inner">
                <div class="logo"><img src="/images/logo.png"></div>
                <ul class="nav-items">
                    <li><a href="/"><i class="icn-brands icn-brands-dims"></i>Home</a></li>
                    <li><a href="https://looklive.com/discover/"><i class="icn-latest icn-latest-dims"></i>Latest</a></li>
                    <li><a href="https://looklive.com/people/"><i class="icn-people icn-people-dims"></i>People</a></li>
                    <li><a href="https://looklive.com/shows/"><i class="icn-shows icn-shows-dims"></i>Shows</a></li>
                    <li><a href="https://looklive.com/music/"><i class="icn-music icn-music-dims"></i>Music</a></li>
                    <li><a href="https://looklive.com/brands/"><i class="icn-brands icn-brands-dims"></i>Brands</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header"><img src="/images/header.png"></div>
>>>>>>> donnywals/master

        <nav>
            <img src="/images/logo.png" alt="Look live">
            <ul>
                <li><a href="/"><img src="/icons/png/home.png">Home</a></li>
                <li><a href="/discover/"><img src="/icons/png/latest.png">Latest</a></li>
                <li><a href="/people/"><img src="/icons/png/people.png">People</a></li>
                <li><a href="/shows/"><img src="/icons/png/shows.png">Shows</a></li>
                <li><a href="/music/"><img src="/icons/png/music.png">Music</a></li>
                <li><a href="/brands/"><img src="/icons/png/brands.png">Brands</a></li>
            </ul>  
        </nav>
        
        <header>
            <img src="/images/header-small.jpg" srcset="/images/header-small.jpg 480w, /images/header-medium.jpg 960w, /images/header-large.jpg 1920w" alt="House of Cards">
        </header>
        
        <main>
            {{{body}}}
<<<<<<< HEAD
        </main>
        
=======
        </div>

        <script src="/js/app.js"></script>
>>>>>>> donnywals/master
    </body>
    
    <script src="/js/app.js"></script>
</html>
